body {
  margin: 0;
}

.App {
  height: 100vh;
}

.container1 {
  display: flex;
  padding: 10px;
  height: 70%;
}
.container2 {
  padding: 10px;
}

.groups {
  width: 300px;
  border-right: 1px solid rgba(114, 114, 114, 0.384);
  padding-right: 10px;
}

.items {
  padding: 5px;
  padding-right: 10px;
}

.item-copy {
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 5px;
}

.item-copy:hover {
  background-color: #282828;
  color: white;
  font-weight: bold;
}

.item-copy-title {

}

.item-copy-btn {
  margin: 0 5px;
}

.active-group {
  background-color: #282828;
  color: white;
}

.import-container {
  margin: 10px;
}

.import-container span {
  margin-right: 10px;
}

.group-btns {
  padding: 5px;
}
